{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="gallery  pb-5 pt-5">
    <div class="container">
          <div class="main-title text-center mt-5 mb-10">
                <h2 class="">About</h2>
          </div>

          <div class="box">

            <div class="row">
                  <div class="col-lg-6 col-md-12 mt-5 mb-5 align-items-center">
                      <div class="text_sentence">
                        <h4>Who we are ?</h4>
                        <p>Welcome to OBINOOR, where passion for quality meets a commitment to excellence in every detail. Our story is one of craftsmanship, innovation, and a relentless pursuit of providing you with the finest products that enhance your lifestyle.
                        <h4>Mission</h4>
                        <p>At OBINOOR, we believe that everyday experiences can be extraordinary with the right tools. Our mission is to empower you to create, explore, and savor life's moments by offering premium products that are both functional and beautifully crafted.
                        <h4>Crafted for Excellence</h4>
                        <p>Every product in our collection is a testament to our dedication to quality. From the meticulous selection of materials to the precision of our craftsmanship, each item is thoughtfully designed to exceed your expectations. We take pride in creating products that stand the test of time, becoming trusted companions on your journey.
      
                      </div>
                  </div>
      
                  <div class="col-lg-6 col-md-12 mt-5 mb-5 align-items-center">
                    <div class="text_sentence">
                      <h4>Innovation at the Core</h4>
                      <p>Innovation is the heartbeat of [Your Brand Name]. We are constantly pushing boundaries, embracing cutting-edge technologies to elevate our products. This commitment to innovation ensures that you receive items that not only meet your needs but also anticipate them.
                      <h4>Customer-Centric Approach</h4>
                      <p>Our customers are at the heart of everything we do. We listen, learn, and evolve based on your feedback. Your satisfaction is our ultimate goal, and we strive to exceed your expectations with every interaction.
                      <h4>Sustainability Matters</h4>
                      <p>We are committed to responsible business practices. Sustainability is woven into the fabric of our brand – from eco-friendly packaging to ethical sourcing, we prioritize the well-being of our planet and its inhabitants.
                      <h4>Join Our Community</h4>
                      <p>OBINOOR is more than a label; it's a community of like-minded individuals who appreciate quality, functionality, and style. Join us on this journey as we continue to explore new horizons and redefine the standards of excellence.
                    </div>
                </div>
              </div>
          </div>



    </div>
</div>



{% endblock body %}
