{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %} Account-Settings {% endblock title %}

{% block body %}
<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="inputx">{{ form.first_name }}</div>
    <div class=" input-group usernameclass form-outline mb-4">{{ form.first_name }}</div>

    <div class="inputx">{{ form.last_name }}</div>
    <div class="">{{ form.profile_pic }}</div>
    <div class="inputx">{{ form.bio }}</div>
    <input type="submit" value="Save">
</form> -->



<section>
    <div class="container">
        <div class=" pt-5 pb-5 mb-3">
            <h1 class="mt-3 mb-3 pt-3">Welcome,{{ request.user.username }}</h1>
            
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">

                            <div class="row">
                                <div class="col-lg-6 col-sm-12 mt-3 mb-3">{{ form.first_name }}</div>
                                <div class="col-lg-6 col-sm-12  mt-3 mb-3">{{ form.last_name }}</div>
            
                            </div>
                            <div class="mt-3 mb-3">{{ form.bio }}</div>
                            <div  class="file-upload" >{{ form.profile_pic }}</div>
                            <!-- <button type="submit" value="Save" onclick="window.location.href='{% url 'profile' %}'" class="buttonx mt-3 mb-4">Save</button> -->
                            <div class="pt-1 mb-4 d-flex justify-content-around">
                                <button type="submit" value="Save" onclick="window.location.href='{% url 'profile' %}'" class="buttonx mt-3 mb-4">back</button>
                                <button class="buttonx mt-3 mb-4" type="submit" value="settings">Save</button>
        
                              </div>
            
                            <div class="col-lg-6 col-md-12">
                                

                                    
                            </div>

                            
                            
                            
                            
        

                    </div>
                    
                </form>
                



            
                
                
            </div>
        </div>
    </div>
</section>
{% endblock body %}
