{% extends 'base.html' %}

{% load static %}
{% load bootstrap5 %}


{% block title %}
Contact
{% endblock title %}



{% block body %} 
<script src="{% static 'js/main.js' %}" defer></script>


<section class="pb-5 pt-5">
    
    <div class="container">
        <div class="title">
            <div class="main-title text-center mt-5 mb-5 position-relative">
                <h2>Contact Us</h2>
          </div>
        </div>
        <div class="row pt-5 pb-5">
    
            <div class="col-xl-4 ">
                <img class="mov-img img-fluid w-100 h-auto  "
                                        src="{% static 'images/contact.jpg' %}" alt="">
    
            </div>
            <div class="col-xl-8 ">
                <div class="main-title text-center mb-5 mt-5">
                    <h2>Get in Touch</h2>
                </div>
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-6 mb-3">
                      <input type="text" placeholder="First Name" class="inputx" id="firstName">
                    </div>
                    <div class="col-6 mb-3">
                      <input type="text" placeholder="Last Name" class="inputx" id="lastName">
                    </div>
                    <div class="col-12  mb-3">
                      <input type="email" placeholder="Email Address" class="inputx" id="email">
                    </div>
                    <div class="col-12 mb-3">
                      <input type="text" class="inputx" placeholder="Company" id="company">
                    </div>
                    <div class="col-12">
                      <textarea autocomplete="off" id="message" placeholder="Message"></textarea>
                    </div>
                    <button class="buttonx mt-3 mb-3"  type="submit">Submit</button>
                  </div>
                </form>
                
    
            </div>
        </div>
    
     </div>

</section>

    
{% endblock body %}
