{% extends 'base.html' %}

{% load static %}
{% load bootstrap5 %}


{% block title %}
Contact
{% endblock title %}



{% block body %} 
<script src="{% static 'js/main.js' %}" defer></script>


<section class="pb-5 pt-5">
    
    <div class="container">
        
            <div class="main-title text-center mt-5 mb-5 position-relative">
                <h2>Contact Us</h2></div>
        <div class="row pt-5 pb-5">
    
            <div class="col-md-12 col-lg-6 ">
                <img class="mov-img img-fluid w-100 h-auto mb-5"
                                        src="{% static 'images/card-contect.jpg' %}" alt="">
    
            </div>
            <div class="box col-md-12 col-lg-6 ">
                
                <form class="" method="POST">
                  {% csrf_token %}
                  <div>
                    <!-- <div class="col-lg-6 mb-3 mt-3">
                      <input type="text" placeholder="First Name" class="inputx" id="firstName">
                    </div>
                    <div class="col-lg-6 mb-3 mt-3">
                      <input type="text" placeholder="Last Name" class="inputx" id="lastName">
                    </div> -->
                    <div class="mb-3">
                      <input type="text" placeholder="Full Name" class="inputx" id="Name">
                    </div>
                    <div class="mb-3">
                      <input type="email" placeholder="Email Address" class="inputx" id="email">
                    </div>
                    <div class="mb-3">
                      <input type="text" class="inputx" placeholder="Company" id="company">
                    </div>
                    <div class="mb-3">
                      <textarea autocomplete="off" id="message" placeholder="Message"></textarea>
                    </div>
                    
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="buttonx mt-3 mb-3 "  type="submit">submit</button>
                  </div>

                  
                </form>
                
    
            </div>
        </div>

        <div class="textarea"></div>
            <div class="main-title text-center mt-5 mb-5 position-relative">
            </div>
            <p class="main-text text-center mb-5  m-auto">"Your perfect companion for every adventure—our multi-purpose backpack
                  combines style, durability, and function for life on the go."</p>
        </div>
    
     </div>


     

</section>

    
{% endblock body %}
