{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}

{% block title%} Login {% endblock title %} 

{% block body %}

<section class="pb-5 pt-5">
  <div class="container">
      


    <div class="row pt-5 pb-5">

      <div class="col-lg-6 col-md-12">
        
        <div
          class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
          <form style="width: 23rem" method="POST" action="">
            {% csrf_token %}

            <h3 class=" fw-normal mb-3 pb-3" style="letter-spacing: 1px">
              Log in
            </h3>

            <div class="input-group form-outline mb-4">
              <input
                placeholder="Username"
                autocomplete="off"
                name="username"
                id="username"
                class="inputx"
                type="text"
              />
            </div>

            <div  class="form-outline mb-4">
              <input
                placeholder="Password"
                autocomplete="off"
                name="password"
                id="password"
                class="inputx"
                type="password"
              />
            </div>

            <div class="pt-1 mb-4">
              <button class="buttonx" type="submit" value="login">Login</button>
            </div>

            <p class="small mb-5 pb-lg-2">
              <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
            </p>
            <p>
              Don't have an account?
              <a href="{% url 'signup' %}" class="link-info">Sign Up </a>
            </p>
          </form>
        </div>

      </div>
      <div class="col-lg-6 col-md-12">
        
        <div class="">
          <img class="mov-img img-fluid w-100 h-60"src="{% static 'images/contact.jpg' %}" alt="">
        </div>
        
      </div>

    </div>
  </div>
</section>

{% endblock body %}
