{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    Terms
{% endblock title %}

{% block body %}
<div class="gallery pb-5 pt-5">
    <div class="container">
        <div class="main-title text-center mt-5 mb-10">
            <h2>Terms & Conditions</h2>
        </div>

        <div class="box">
            <div class="row">
                <div class="col-lg-6 col-md-12 mt-5 mb-5 align-items-center">
                    <div class="text_sentence">
                        <p>Welcome to OBINOOR. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions. Please review them carefully before using the website.</p>
                        
                        <h4>Acceptance of Terms</h4>
                        <p>By accessing or using the OBINOOR website, you agree to be bound by these Terms & Conditions and our Privacy Policy. If you do not agree with any part of these terms, you must not use our website.</p>
                        
                        <h4>Website Use</h4>
                        <ul>
                            <li>
                                <p>You must be at least 18 years old or have permission from a parent or legal guardian to use this website.</p>
                            </li>
                            <li>
                                <p>You are responsible for ensuring that all information provided by you is accurate, current, and complete.</p>
                            </li>
                            <li>
                                <p>Any unauthorized use of the website may give rise to a claim for damages and/or be a criminal offense.</p>
                            </li>
                        </ul>
                        
                        <h4>Account Registration</h4>
                        <p>To make purchases or use certain features of the OBINOOR website, you may be required to register an account. You agree to:</p>
                        <ul>
                            <li>
                                <p>Keep your account information, including your password, secure and confidential.</p>
                            </li>
                            <li>
                                <p>Notify us immediately of any unauthorized use of your account or any security breach.</p>
                            </li>
                        </ul>

                        <h4>Custom Orders</h4>
                        <p>OBINOOR specializes in custom-made bags based on user-specified materials. By placing an order, you agree to the following:</p>
                        <ul>
                            <li>
                                <p>All custom orders are final and non-refundable, unless there is a manufacturing defect or error on our part.</p>
                            </li>
                            <li>
                                <p>You are responsible for providing accurate specifications for your custom order, including material preferences, dimensions, and any other relevant details.</p>
                            </li>
                        </ul>

                        <h4>Pricing & Payment</h4>
                        <ul>
                            <li>
                                <p>All prices displayed on the website may be subject to additional taxes and shipping fees.</p>
                            </li>
                            <li>
                                <p>OBINOOR reserves the right to modify prices at any time without prior notice.</p>
                            </li>
                            <li>
                                <p>Payments must be completed through the approved payment methods listed on our website.</p>
                            </li>
                        </ul>

                        
                    </div>
                </div>



                <div class="col-lg-6 col-md-12 mt-5 mb-5 align-items-center">
                    <div class="text_sentence">

                        <h4>Shipping & Delivery</h4>
                        <ul>
                            <li>
                                <p>OBINOOR provides estimated delivery times for each order, but these are not guaranteed due to factors beyond our control, such as carrier delays.</p>
                            </li>
                            <li>
                                <p>You will be responsible for any additional customs or import taxes that may apply to your order.</p>
                            </li>
                        </ul>
                        
                        
                        <h4>Returns & Exchanges</h4>
                        <ul>
                            <li>
                                <p>Due to the custom nature of our products, returns are only accepted in the case of manufacturing defects or errors.</p>
                            </li>
                            <li>
                                <p>To initiate a return, you must contact us within 14 days of receiving your order with proof of defect.
                                </p>
                            </li>
                            <li>
                                <p>Products must be returned in their original condition and packaging.
                                </p>
                            </li>
                        </ul>
                        
                        <h4>Intellectual Property</h4>
                        <p>All content, designs, trademarks, logos, and intellectual property featured on the OBINOOR website are the exclusive property of OBINOOR. You are prohibited from copying, reproducing, or distributing any content without express written permission.</p>
                        

                        <h4>Limitation of Liability</h4>
                        <ul>
                            <li>
                                <p>OBINOOR is not liable for any direct, indirect, incidental, or consequential damages that result from the use of, or inability to use, the website or products purchased through the website.
                                </p>
                            </li>
                            <li>
                                <p>OBINOOR is not responsible for any content posted by third-party users on the website.
                                </p>
                            </li>
                        </ul>

                        <h4>Modifications to Terms & Conditions</h4>
                        <p>OBINOOR reserves the right to update or modify these Terms & Conditions at any time without prior notice. Your continued use of the website after any changes indicates your acceptance of the updated terms.</p>
                        <h4>Governing Law</h4>
                        <p>These Terms & Conditions are governed by and construed in accordance with applicable laws, without regard to conflict of law principles. Any disputes arising under or in connection with these terms shall be subject to the exclusive jurisdiction of the competent courts.
                        </p>
                        <h4>Contact Information</h4>
                        <p>If you have any questions or concerns regarding these Terms & Conditions, please contact us at:

                        </p>
                        <ul>
                            <li>
                                <p>Email: info@obinoor.com

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock body %}
